<footer class="bg-dark text-light py-4" id="footer" style="position: relative; margin-top:98%; margin-bottom: -1%; max-height: 1%; left: 0;bottom: 0;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5>About Us</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam urna eget lectus eleifend
                    imperdiet.
                </p>
            </div>
            <div class="col-lg-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: info@example.com</li>
                    <li>Phone: +1234567890</li>
                    <li>Address: 123 Street, City, Country</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <p>
            &copy; 2024 Your Company. All rights reserved.
        </p>
    </div>
</footer>