{% extends 'base.html' %}
{% load static %}
{% block title %} Social App {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/index.css' %}">
<link rel="stylesheet" href="{% static 'styles/stories.css' %}">

{% if user.is_authenticated %}

<div class="container" style="margin-bottom:0px;">

    <div class="stories-container">
        <div class="content">

            <div class="stories">
                {% if stories %}
                {% for story in stories reversed %}
                {% if story.image %}
                <div class="story"
                    style="background: url('{{ story.image.url }}'); background-size: cover;background-repeat: no-repeat; background-position: center cover;">
                    <!---->
                    <div class="profile-pic">
                        <img src="{{ story.author.profile_pics.url }}" alt="">
                    </div>
                    <p class="name" style="background-color: rgba(2, 0, 0, 0.425);color:white;">
                        {{ story.author.user.username }}
                    </p>
                    <div class="author" style="color:black; font:bold;">
                        {{ story.caption }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="middle" style="margin-top:1px;">
            <form class="create-post" method="post" action="{% url 'story' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-pic">
                    <img class="profile-pic" src="{{ user.profile.profile_pics.url }}" width="150" height="150" alt="">
                </div>
                {{ form.caption }}
                {{ form.image }}
                <input onclick="story()" type="submit" value="Create" class="btn">
            </form>
        </div>
    </div>


    {% if all_post %}
    {% for post in all_post reversed %}

    <div class="row" style="margin-top:4px;">
        <div class="col-lg-8 mx-auto">
            <div class="post-container" style="border: 1px solid black; margin-bottom: 4px;">
                <div class="post-header">
                    <img src="{{ post.author.profile_pics.url }}" alt="Avatar" class="post-avatar">
                    <div>
                        <p class="post-username">
                            {{ post.author.first_name }} &nbsp;{{ post.author.last_name }}&nbsp;
                            <a href="{% url 'profile' post.author.user.username %}">
                                @{{ post.author.user.username}}
                            </a>
                        </p>
                        <p class="text-muted" style="margin-top: -15px;">
                            {{ post.created_at }} <strong>utc</strong>
                        </p>
                    </div>
                </div>
                <hr style="width: 100%; height: 5px;background-color: #251153;border: 2px; margin-top: -15px;">

                <div class="post-content">
                    <p>
                        {{ post.content }}
                    </p>
                    {% if post.image %}
                    <a href="{% url 'post_view' post.postID %}" style="height: 100px;width: 100px;">
                        <img src="{{ post.image.url }}" alt="Image" class="img-fluid" style="max-width: 100%;">
                    </a>
                    {% endif %}
                </div>
                <div class="post-actions">
                    <a href="{% url 'like_post' post.postID %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="red"
                            class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                        </svg>
                    </a>
                    <!--<button class="btn btn-secondary">-->
                    {% if post.num_of_likes < 2 %} {{ post.num_of_likes }} Like {% else %} {{ post.num_of_likes }} Likes
                        {% endif %} <!--</button>-->
                        <a href="{% url 'post_view' post.postID %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                            </svg>Comment</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<script>
    function story() {
        alert('Confirm')
        }
</script>
{% endif %}
{% endblock %}