{% extends 'base.html' %}
{% load static %}
{% block title %} Social App {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/stories.css' %}">

{% if user.is_authenticated %}
{% include 'index.html' %}

<div class="container">
    {% if all_post %}
    {% for post in all_post reversed %}

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="post-container" style="border: 1px solid black; margin-bottom: 4px;">
                <div class="post-header">
                    <img src="{{ post.author.profile_pics.url }}" alt="Avatar" class="post-avatar">
                    <div>
                        <p class="post-username">
                            {{ post.author.first_name }} &nbsp;{{ post.author.last_name }} &nbsp;<a href="{% url 'profile' post.author.user.username %}">@{{ post.author.user.username }}</a>
                        </p>
                        <p class="text-muted">
                            {{ post.created_at }}
                        </p>
                    </div>
                </div>
                <div class="post-content">
                    <p>
                        {{ post.content }}
                    </p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Image" class="img-fluid" style="max-width: 100%;">
                    {% endif %}
                </div>
                <div class="post-actions">
                    <a style="color:red;" href="{% url 'like_post' post.postID %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                        </svg>like
                    </a>
                    <!--<button class="btn btn-secondary">-->
                    {% if post.num_of_likes < 2 %}
                        {{ post.num_of_likes }} Like
                        {% else %}
                        {{ post.num_of_likes }} Likes
                        {% endif %} <!--</button>-->
                        <a href="{% url 'post_view' post.postID %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                            </svg>Post detail</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}
