<div id="fullscreen-image-container" style="display: none;">
    <img id="fullscreen-image" src="" alt="Image Description">
    <button id="close-fullscreen-button">X</button>
  </div>
  
  <script>
    const imageContainer = document.getElementById('fullscreen-image-container');
    const closeButton = document.getElementById('close-fullscreen-button');
    const fullScreenImage = document.getElementById('fullscreen-image');
  
    fullScreenImage.addEventListener('click', () => {
      imageContainer.style.display = 'flex';
    });
  
    closeButton.addEventListener('click', () => {
      imageContainer.style.display = 'none';
    });
  </script>
  