{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width= , initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />
<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="middle stories-container">

    <div class="content">
        <div class="stories">
            {% if stories %}
            {% for story in stories reversed %}
            {% if story.image %}
            <div class="story" style="background: url('{{ story.image.url }}'); no-repeat center center/cover;">
                <div class="profile-pic">
                    <img src="{{ story.author.profile_pics.url }}" alt="">
                </div>
                <p class="name">
                    {{ story.caption }}
                </p>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <form class="create-post" method="post" action="{% url 'story' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-pic">
            <img src="{{ user.profile.profile_pics.url }}" width="150" height="150" alt="">
        </div>
        <input type="text" name="caption" placeholder="Add Story" id="create-post">
        <label for="image"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
            <input type="file" name="image" id="image" style="display: none;"></label>
        <input type="submit" value="Create" class="btn">
    </form>
</div>
<br>