<div id="post-actions" class="post-actions">
	<form 
	hx-post="{% url 'like_post' post.postID %}"
	hx-target="#post-actions"
	hx-swap="outerHTML"
	>
	{% csrf_token %}
	<button type="submit">
	<svg
	xmlns="http://www.w3.org/2000/svg"
	width="30" height="40" fill="red"
	class="bi bi-heart-fill" viewBox="0 0 16 16">
	<path fill-rule="evenodd"
	d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
        </svg>
	</button>
	</form>

	{% if post.num_of_likes < 2 %}
	{{ post.num_of_likes }} Like
	{% else %}
	{{ post.num_of_likes }} Likes
	{% endif %}

	<a href="{% url 'post_view' post.postID %}">
		<svg xmlns="http://www.w3.org/2000/svg"
		width="16" height="16" fill="currentColor"
		class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
		<path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
		</svg>Comment
	</a>
</div>
