{% extends 'base.html' %}

{% block content %}
<style>
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
<br />
<br> 
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    <form action="{% url 'login_user' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input name="username" type="text" class="form-control" id="username" placeholder="Enter username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input name="password1" type="password" class="form-control" id="password" placeholder="Enter password" placeholder="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button> 
                    </form>
                    
                </div>
            </div>
            <div>Don't have an account, &nbsp; <span><a href="{% url 'sign_up' %}"><button class="btn btn-primary">Sign Up</button></a></span>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}
