{% extends 'base.html' %}
<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Social App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/signup.css' %}">
</head>

<body>
    <p>
        <a href="{% url 'home' %}">Home</a>
    </p>
    <p>
    <h1>Login</h1>
    </p><br>
    <div style="color: red;">
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor%}
        {% endif %}
    </div><br>
    <div>
        <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" required><br>
            <input type="password" name="password1" placeholder="password" required><br>
            <input class="submit" type="submit" value="Login" name="Login">
        </form>
    </div><br>
    <hr>
    <br>
    <p>
        Don't have an account? <a href="{% url 'sign_up' %}">Sign Up</a>
    </p>

</body>

</html>
-->
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    <form action="{% url 'login_user' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input name="username" type="text" class="form-control" id="username" placeholder="Enter username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input name="password1" type="password" class="form-control" id="password" placeholder="Enter password" placeholder="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="{% url 'sign_up' %}"><button class="btn btn-primary">Sign Up</button></a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}