{% extends 'base.html' %}
{% block title %} Post Detail {% endblock %}

{% block content %}
<style>
    .stories-container {
        background-color: #f0f2f5;
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }

    .story-card {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 10px;
        background-color: #fff;
    }

    .story-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .story-info {
        flex-grow: 1;
    }

    .progress-bar-wrapper {
        width: 100%;
        position: relative;
        margin-top: 5px;
    }

    .progress-bar {
        height: 5px;
        background-color: #ddd;
        border-radius: 2px;
    }

    .progress {
        height: 100%;
        background-color: #0d6efd;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="post-container">
                <div class="post-header">
                    <img src="{{ post.author.profile_pics.url }}" alt="Avatar" class="post-avatar">
                    <div>
                        <p class="post-username">
                            {{ post.author.first_name }} &nbsp;{{ post.author.last_name }} &nbsp;<a href="{% url 'profile' post_object.author.user.username %}">@{{ post_object.author.user.username }}</a>
                        </p>
                        <p class="text-muted" style="margin-top: -15px;">
                            {{ post_object.created_at }}<strong> utc</strong>
                        </p>
                    </div>
                </div>
                <div class="post-content">
                    <p>
                        {{ post_object.content }}
                    </p>
                    {% if post_object.image %}
                    <img src="{{ post_object.image.url }}" alt="Image" class="img-fluid" style="max-width: 100%;">
                    {% endif %}
                </div>
                <div class="post-actions">
                    <!--<a href="{% url 'like_post' post_object.postID %}"><button class="btn btn-primary">Like</button></a>-->
                    {{ post_object.num_of_likes }} Likes
                    
                    <span>{{ comment_num }} Comments</span>
                    {% if post_object.author == request.user.profile %}
                    <span>
			    <svg hx-delete="{% url 'delete_post' post_object.postID %}"
				    hx-confirm="Are you sure you wish to delete thi post"
				    xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
				    fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
				    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                    		</svg>
                    
                    </span>
                    {% endif %} 
                </div>
            </div>
            <form class="create-post" method="post" action="{% url 'comment' %}"  style="max-width: 100%;width: 100%;margin-bottom: 5px; display: flex;justify-content: center;align-items: center; border: 2px solid blueviolet;">
                {% csrf_token %}
                <input type="text" name="content" placeholder="post your comment" id="create-post">
                <input type="hidden" name="postID" value="{{ post_object.postID }}">
                &nbsp;&nbsp;<button type="submit" class="btn btn-primary">Comment</button>
            </form>
            <div class="col-lg-12" style="border:2px solid black ">
                <h3>Comments</h3>
                {% for comment in comments reversed %}
                <div class="story-card" style="border:solid black; margin:2px;">
                    <img src="{{ comment.author.profile_pics.url }}" alt="Avatar" class="story-avatar">
                    <div class="story-info">

                        <a href="{% url 'profile' comment.author.user.username %}">
				<h6>@{{ comment.author.user.username }}</h6>
			</a>&nbsp;{{ comment.created_at }}<strong> utc</strong>
                        <div class="progress-bar-wrapper">

                            <div class="progress-bar" style="width: 90%;"></div>
                        </div>
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  
    <div>

    </div>
</div>

{% endblock %}
