{% load static %}
<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div style="color: red;">
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor%}
        {% endif %}
    </div><br>
    <div>
        <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="tweet-btn" type="submit">Create Post</button>
        </form>
        <p>
            <a href="{% url 'home' %}">Home</a>
        </p>
        
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Text Box with Image</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="tweet-box">
        <textarea name="content" id="tweet-text" maxlength="280" placeholder="What's happening?"></textarea>
        <div class="image-upload">
            <label for="image-input"><img src="{% static 'images/icons8-upload-24.png' %}"></label>
            <input name="image" type="file" id="image-input" accept="image/*">
            <img id="image-preview" src="">
        </div>
        <div class="char-count">
            <span id="char-remaining">280</span> characters remaining
        </div>
        <button type="submit" id="tweet-btn">Tweet</button>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>