{% extends 'base.html' %}
{% block title %} Post Detail {% endblock %}

{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'styles/comment.css' %}">

<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="post-container">
                <div class="post-header">
                    <img src="{{ post_object.author.profile_pics.url }}" alt="Avatar" class="post-avatar">
                    <div>
                        <p class="post-username">
                            {{ post_object.author.first_name }} &nbsp;{{ post_object.author.last_name }} &nbsp;
                            <a href="{% url 'profile' post_object.author.user.username %}">
                                @{{ post_object.author.user.username }}
                            </a>
                        </p>
                        <p class="text-muted" style="margin-top: -15px;">
                            {{ post_object.created_at }}<strong> utc</strong>
                        </p>
                    </div>
                </div>
                <div class="post-content">
                    <p>
                        {{ post_object.content }}
                    </p>
                    {% if post_object.image %}
                    <img src="{{ post_object.image.url }}" alt="Image" class="img-fluid" style="max-width: 100%;">
                    {% endif %}
                </div>
                <div class="post-actions">
                    <input type="text" value="{{post.postID}}" id="postID" hidden>
                    <button type="submit" id="like-button-btn">Like</button>

                    {{ post_object.num_of_likes }} Likes

                    <span>{{ comment_num }} Comments</span>
                    {% if post_object.author == request.user.profile %}
                    <span>
                        <a href="{% url 'delete_post' post_object.postID %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </a>

                    </span>
                    {% endif %}
                </div>
            </div>
            <form class="create-post" 
                style="max-width: 100%;width: 100%;
                margin-bottom: 5px; display: flex;
                justify-content: center;align-items: center;
                border: 2px solid blueviolet;"
    
                hx-post="{% url 'comment' post_object.postID %}"
                hx-target="#comment"
                hx-swap="innerHTML"
                _="on htmx:afterRequest reset() me">
                {% csrf_token %}
                <input type="text" name="content" placeholder="post your comment" id="create-post">
                &nbsp;&nbsp;<button type="submit" class="btn btn-primary">Comment</button>
            </form>
           
                {% include 'partial/comment.html' %}
                
        </div>
    </div>

    <div>

    </div>
</div>

{% endblock %}
