<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
</head>

<body>
    <div style="color: red;">
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor%}
        {% endif %}
    </div><br>
    <div>
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Post</button>
        </form>
        <p>
            <a href="{% url 'home' %}">Home</a>
        </p>
    </div>
</body>

</html>