{% extends 'base.html' %}
{% block title %} Create Post {% endblock %}
{% block content %}
{% load static %}
<style>
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>

<form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="tweet-box">
        <textarea name="content" id="tweet-text" maxlength="280" placeholder="What's happening?"></textarea>
        <div class="image-upload">
            <label for="image-input"><img src="{% static 'images/icons8-upload-24.png' %}"></label>
            <input name="image" type="file" id="image-input" accept="image/*">
            <img id="image-preview" src="">
        </div>
        <div class="char-count">
            <span id="char-remaining">280</span> characters remaining
        </div>
        <button type="submit" id="tweet-btn">Post</button>
    </div>
    <script src="{% static 'script.js' %} "></script>
    {% endblock %}d
    <!--https://web.dev/articles/codelab-building-a-stories-component-->