<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>
    {{ active_account.first_name }} <br>
    {{ active_account.last_name }} <br>
    {{ active_account.bio }} <br>
    {{ active_account.profile_pics }} <br>
     <br>
    <hr><br>
    <p>
        {{ current_user }} 
    </p>
    <p>
        <a href="{% url 'home' %}">Home</a>
    </p>
    <p>
        <a href="{% url 'setting' %}">Settings</a><br>
    </p>
</body>
</html>