<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user_profile.user.username }}</title>
</head>
<body>
    <div>
        <form action="{% url 'follow' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.username }}" name="follower">
            <input type="hidden" value="{{ user_object.username }}" name="user">
            <input type="submit" value="{{ follow_check }}">
        </form>
    </div>
    <p>
        <img src="{{ image_url }}" alt="Profile Image" width="100" height="100">
    </p>
    <p>
      Username  @{{ user_profile.user.username}}
    </p>
    <p>
        Bio: {{ user_profile.bio}}
    </p>
    <p>
      {{ user_post_len }}&nbsp;Posts 
    </p>
    <p>
        {% for post in user_post %}
        <div>
        <p>Title: {{ post.title }}</p>
        <a href="{{ post.image.url }}">
            <img src="{{ post.image.url }}" alt="pics" height="100" width="100">
        </a>
        <hr style="color: green;">
        </div>
        {% endfor %}
    </p>
    <hr style="color: aqua;">
    <p>
        <a href="{% url 'home' %}">Home</a>
    </p>
</body>
</html>