{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/settings.css' %}">
<!-- Profile Cover -->
<div class="profile-cover">
    <!-- Profile Avatar -->
    <img src="{{ profile.profile_pics.url }}" alt="Avatar" class="profile-avatar">
</div>

<div class="container">
    <!-- Profile Information -->
    <div class="profile-info">
        <h1>@{{ profile.user.username }}</h1>
        <p>
            {{ profile.user.email }}
        </p>
        <p>
            {{ profile.first_name }} &nbsp;{{ profile.last_name }}
        </p>
    </div>
    <div>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'account_setting' %}" enctype="multipart/form-data" class="update-profile-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}