<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{user.username}}'s&nbsp; Profile Setting</title>
</head>
<body>
    <div>
        <a href="{% url 'home' %}">Home</a>
    </div><br><br>
    <div style="color: red;">
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor%}
        {% endif %}
    </div><br><br>
    <div>
        {% if user.is_authenticated %}
        <form action="{% url 'settings_user' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update Profile">
        </form>
        {% endif %}
    </div>
</body>
</html>
