{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}
{% load static %}
<style>
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
<br />
    <div>
        <br>
        <form action="{% url 'sign_up' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="submit" type="submit" value="Sign Up" name="Sign Up">
        </form>
    </div><br>
    <hr>
    <br>
    <p>
        Do you have an account? <a href="{% url 'login_user' %}"> Login</a>
    </p>


{% endblock %} 