<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'styles/stories.css' %}">
<title>Story</title>        
    </head>
    <body>
        <div class="stories-container">
            <div class="content">
                <div class="previous-btn">
                    <!-- First svg  chevron-->
                </div>
                
                <div class="next-btn">
                    
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
                <div class="story">
                    <img src="{% static 'images/story-1.jpg' %}">
                    <div class="author">Author</div>
                </div>
                
            </div>
            
        </div>
        <script src="{% static 'story.js' %}"
    </body>
</html>