{% load static %}
<link rel="stylesheet" href="{% static 'styles/stories.css' %}">
<div class="stories-container">
    <div class="content">

        <div class="stories">
            {% if stories %}
            {% for story in stories reversed %}
            {% if story.image %}
            <div class="story" style="background: url('{{ story.image.url }}'); no-repeat center center/cover;">
                <!--<div class="profile-pic">
                                                                                                            <img src="{{ story.author.profile_pics.url }}" alt="">
                                                                                                        </div>
                                                                                                <img src="{{ story.image.url }}" alt="Story Image">-->
                <div class="profile-pic">
                    <img src="{{ story.author.profile_pics.url }}" alt="">
                </div>
                <p class="name" style="color:white; font-weight:bold; ">
                    {{ story.author.user.username }}
                </p>
                <div class="author" style="color:white;">
                    {{ story.caption }}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
<div class="middle">
    <form class="create-post" method="post" action="{% url 'story' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-pic">
            <img src="{{ user.profile.profile_pics.url }}" width="150" height="150" alt="">
        </div>
        {{ form.caption }}
        {{ form.image }}
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>